<section id="contributor" class="my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 order-last order-md-first">
                <div class="card rounded-3 shadow border-secondary mx-2">
                    <img src="assets/images/team/matt.png" class="img-fluid rounded-1">
                </div>
                <a href="https://github.com/MrMatthewLayton" class="d-block w-100 btn btn-lg btn-dark mt-4 me-4">
                    <span class="fab fa-github"></span> GitHub
                </a>
                <a href="https://stackoverflow.com/users/1033686/matthew-layton"
                    class="d-block w-100 btn btn-lg btn-warning mt-3">
                    <span class="fab fa-stack-overflow"></span> StackOverflow
                </a>
                <a href="https://twitter.com/MrMatthewLayton" class="d-block w-100 btn btn-lg btn-primary mt-3">
                    <span class="fab fa-twitter"></span> Twitter
                </a>
                <a href="https://www.linkedin.com/in/matthew-layton-85547829/"
                    class="d-block w-100 btn btn-lg btn-secondary mt-3">
                    <span class="fab fa-linkedin"></span> LinkedIn
                </a>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <h1 class="display-3 fw-lighter">Matthew Layton</h1>
                <h2 class="display-6 fw-lighter text-muted">
                    Founder & Head of Engineering
                </h2>
                <hr class="mb-4">
                <p class="lead mt-2">
                    Matthew is a seasoned software developer with several years of professional experience, and
                    whose education and career have consistently focused on delivering highly functional, quality,
                    pragmatic and elegant enterprise software solutions.
                </p>
                <p class="lead">
                    Formerly the Technical Lead at TradeIX (now Marco Polo Network) and then at Ivno, his leadership
                    and software architecture experience includes several years working with Distributed Ledger
                    Technology, specifically in the Corda ecosystem. Matthew led the creation and delivery of
                    significant milestones for TradeIX's Marco Polo Platform and Ivno's Token Collateralization
                    Platform.
                </p>
                <p class="lead">
                    From a young age, Matthew has been passionate about programming and understanding programming
                    languages with meticulous detail. As a Corda certified professional developer and an IBM
                    certified Blockchain developer, Matthew has a keen interest in applied cryptography, especially
                    working in the Blockchain and DLT ecosystem.
                </p>
                <p class="lead">
                    Matthew is in the top 1% of StackOverflow's 100 million users for answering and educating
                    participants, reaching over 4.5 million people.
                </p>
            </div>
        </div>
    </div>
</section>