@page "/Tools"
@layout ToolsLayout

<PageTitle>ONIXLabs | Tools</PageTitle>

<Section Class="pt-0" Centered="true">
    <Headline>Developer Tools</Headline>
    <Callout>Simple Tools &bull; Serious Power &bull; Free Forever</Callout>
    <ThemeImage
        Class="img-fluid" Description="Developer Tools"
        UrlLight="onixlabs/images/heroes/devtools.svg"
        UrlDark="onixlabs/images/heroes/devtools-dark.svg"
    />
    <Paragraph Lead="true">
        Explore a suite of developer tools that simplify everyday tasks, like generating GUIDs, hashing, encoding, and more. Built on
        ONIXLabs’ robust .NET tech, they’re fast, reliable, and free to streamline your workflow.
    </Paragraph>
</Section>
