<section id="contributors" class="mt-5">
    <div class="container text-center">
        <h1 class="display-4 fw-lighter text-dropcaps">Contributors</h1>
        <div class="row">
            <div class="mt-5 col-12 col-sm-6 col-lg-3">
                <div class="card rounded-3 shadow border-secondary mx-2">
                    <img src="assets/images/team/matt.png" class="img-fluid rounded-1">
                    <div class="contributor text-white p-3">
                        <h3 class="fw-lighter">Matt</h3>
                        <h5 class="fw-lighter">Engineering</h5>
                        <a class="btn btn-lg btn-dark fw-light w-100 mt-2" routerLink="/contributors/matt">
                            <span class="fas fa-lg fa-info-circle pe-2"></span> Information
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-5 col-12 col-sm-6 col-lg-3">
                <div class="card rounded shadow border-secondary mx-2">
                    <img src="assets/images/team/laura.png" class="img-fluid rounded-1">
                    <div class="contributor text-white p-3">
                        <h3 class="fw-lighter">Laura</h3>
                        <h5 class="fw-lighter">Engineering</h5>
                        <a class="btn btn-lg btn-dark fw-light w-100 mt-2" routerLink="/contributors/laura">
                            <span class="fas fa-lg fa-info-circle pe-2"></span> Information
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-5 col-12 col-sm-6 col-lg-3">
                <div class="card rounded shadow border-secondary mx-2">
                    <img src="assets/images/team/adam.png" class="img-fluid rounded-1">
                    <div class="contributor text-white p-3">
                        <h3 class="fw-lighter">Adam</h3>
                        <h5 class="fw-lighter">Integration</h5>
                        <a class="btn btn-lg btn-dark fw-light w-100 mt-2" routerLink="/contributors/adam">
                            <span class="fas fa-lg fa-info-circle pe-2"></span> Information
                        </a>
                    </div>
                </div>
            </div>
            <div class="mt-5 col-12 col-sm-6 col-lg-3">
                <div class="card rounded shadow border-secondary mx-2">
                    <img src="assets/images/team/ryan.png" class="img-fluid rounded-1">
                    <div class="contributor text-white p-3">
                        <h3 class="fw-lighter">Ryan</h3>
                        <h5 class="fw-lighter">Strategy</h5>
                        <a class="btn btn-lg btn-dark fw-light w-100 mt-2" routerLink="/contributors/ryan">
                            <span class="fas fa-lg fa-info-circle pe-2"></span> Information
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>