<section id="contact" class="my-5">
    <div class="container text-center">
        <h1 class="display-4 text-dropcaps fw-lighter">Contact us</h1>
        <p class="h2 text-muted text-center fw-lighter mt-4 lh-base">
            ONIXLabs specialises in Corda, Kotlin, C# and TypeScript development and can help you to realise your next
            enterprise application. If you would like to know more about our solutions or professional services, please
            get in touch.
        </p>
        <div class="mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-stretch">
            <a href="mailto:hello@onixlabs.io?subject=Hello, ONIXLabs&body=Hello, ONIXLabs,"
                class="btn btn-lg btn-dark fw-light">
                hello@onixlabs.io
            </a>
        </div>
    </div>
</section>