<section id="contributor" class="my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 order-last order-md-first">
                <div class="card rounded-3 shadow border-secondary mx-2">
                    <img src="assets/images/team/laura.png" class="img-fluid rounded-1">
                </div>
                <a href="https://github.com/pclaura" class="d-block w-100 btn btn-lg btn-dark mt-4 me-4">
                    <span class="fab fa-github"></span> GitHub
                </a>
                <a href="https://www.linkedin.com/in/laura-p%C3%A9rez-crespo-96447a15b/"
                    class="d-block w-100 btn btn-lg btn-secondary mt-3">
                    <span class="fab fa-linkedin"></span> LinkedIn
                </a>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <h1 class="display-3 fw-lighter">Laura Perez Crespo</h1>
                <h2 class="display-6 fw-lighter text-muted">
                    Software Engineer & Corda Specialist
                </h2>
                <hr class="mb-4">
                <p class="lead mt-2">
                    Having graduated from the Escuela de Ingeniería de Telecomunicación, Universidad de Vigo, Laura has
                    become a specialist in enterprise application development with Corda, Kotlin and TypeScript. Laura
                    was responsible for delivering key software components for TradeIX's Marco Polo Platform and Ivno's
                    Token Collateralization Platform, involving security, deployment and server-side
                    functionality. Laura is fluent in Spanish and English.
                </p>
                <p class="lead">
                    Laura's meticulous attention to detail has ensured that all of ONIXLabs' open-source solutions are
                    not only fit for purpose, but well documented, tested and peer reviewed.
                </p>
            </div>
        </div>
    </div>
</section>