.card {
    background-color: var(--site-card-bg);
    border: none;
    box-shadow: inset 0 0.07rem var(--site-card-border-top),
                inset 0 -0.07rem var(--site-card-border-bottom),
                0 0.125rem 0.75rem rgba(0, 0, 0, 0.1);
}