<section id="masthead">
    <div class="masthead-logo d-none d-md-block">
        <img src="assets/images/logo/masthead/color/masthead-color.svg" class="img-fluid">
    </div>
    <div class="d-block d-md-none pt-2"></div>
    <div class="mt-5 container text-center">
        <h1 class="display-4 fw-lighter text-dropcaps">Realising software potential</h1>
        <p class="mt-4 display-6 fw-lighter lh-base text-muted">
            ONIXLabs strives to improve the software development experience through a commitment to
            building and providing exceptionally high quality, comprehensive and robust solutions for
            enterprise applications that scale
        </p>
        <div class="mt-5 d-flex flex-column flex-sm-row justify-content-center align-items-stretch">
            <a href="https://github.com/onix-labs" class="btn btn-lg btn-dark fw-light mt-2">
                <span class="fab fa-lg fa-github pe-2"></span> GitHub
            </a>
            <a href="https://twitter.com/onix_labs" class="btn btn-lg btn-primary fw-light mt-2 ms-sm-5">
                <span class="fab fa-lg fa-twitter pe-2"></span> Twitter
            </a>
            <a href="https://onixlabs.medium.com/" class="btn btn-lg btn-secondary fw-light mt-2 ms-sm-5">
                <span class="fab fa-lg fa-medium pe-2"></span> Medium
            </a>
        </div>
    </div>
</section>