<header>
    <nav class="navbar navbar-light fixed-top frosted">
        <div class="container">
            <a class="navbar-brand mx-auto" routerLink="/index">
                <img src="assets/images/logo/full/original/original-sm.png" height="32">
            </a>
            <button class="navbar-toggler d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav lead text-end">
                    <li class="nav-item">
                        <a class="nav-link pe-3" routerLink="/index">
                            Home <span class="fas fa-lg fa-angle-double-left ps-2"></span>
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" routerLink="/index#corda">
                            Solutions <span class="fas fa-lg fa-angle-double-left ps-2"></span>
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" routerLink="/index#contributors">
                            Contributors <span class="fas fa-lg fa-angle-double-left ps-2"></span>
                        </a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" routerLink="/index#contact">
                            Contact <span class="fas fa-lg fa-angle-double-left ps-2"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0">
    <router-outlet></router-outlet>
</main>

<footer class="mt-auto py-5 bg-dark">
    <div class="container text-center">
        <span class="d-block text-light fw-light lead">Copyright &copy; ONIXLabs 2021</span>
        <span class="d-block mt-2 text-muted fw-normal">ONIXLabs Limited is registered in England and Wales (13661968) at 130
            Old Street, London, England, EC1V 9BD</span>
    </div>
</footer>