<footer class="text-white-50">
    <div class="d-flex flex-row align-items-center container py-3">
        <span class="small">&copy; ONIXLabs 2020&mdash;@DateTime.Now.Year</span>
        <div class="ms-auto">
            <NavLink class="btn btn-link text-white-50" href="https://x.com/onix_labs" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-x-twitter"></i>
            </NavLink>
            <NavLink class="btn btn-link text-white-50" href="https://github.com/onix-labs" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </NavLink>
        </div>    
    </div>
</footer>
