<Container>
    <Section Centered="true">
        <Headline>Yikes!</Headline>
        <Callout>Pretend you didn't see this.</Callout>
        <Paragraph Class="mt-5" Lead="true">
            You’ve reached a page that doesn’t exist. It’s kind of like Narnia, but with fewer talking animals and more disappointment.
            <br>Unless of course, you were looking for a whole lot of nothing, in which case...jackpot!
        </Paragraph>
        <a class="btn btn-lg btn-secondary mt-5 p-4" href="/">Begin a New Adventure</a>    
    </Section>
</Container>
