<section id="corda" class="mt-5">
    <div class="container text-center">
        <h1 class="display-4 fw-lighter">Solutions for <span class="text-danger">Corda</span></h1>
        <p class="h2 text-muted text-center fw-lighter mt-4 lh-base">
            Providing CorDapp developers with the right tools to build cohesive distributed networks on
            Corda, and enabling corporate enterprises to manage their digital assets with ease.
        </p>
        <div class="row">
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-danger m-2 p-4 h-100">
                    <img src="assets/images/corda/corda-core.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Corda Core Library
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-danger fw-light w-100" routerLink="/solutions/corda-core">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-corda-core">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-danger m-2 p-4 h-100">
                    <img src="assets/images/corda/corda-idfx.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Corda Identity Framework
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-danger fw-light w-100" routerLink="/solutions/corda-idfx">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-corda-identity-framework">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-danger m-2 p-4 h-100">
                    <img src="assets/images/corda/corda-bnms.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Corda Business Network Management System
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-danger fw-light w-100" routerLink="/solutions/corda-bnms">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-corda-bnms">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>