<section id="contributor" class="my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 order-last order-md-first">
                <div class="card rounded-3 shadow border-secondary mx-2">
                    <img src="assets/images/team/adam2.png" class="img-fluid rounded-1">
                </div>
                <a href="https://github.com/adamdry" class="d-block w-100 btn btn-lg btn-dark mt-4 me-4">
                    <span class="fab fa-github"></span> GitHub
                </a>
                <a href="https://twitter.com/drygeek" class="d-block w-100 btn btn-lg btn-primary mt-3">
                    <span class="fab fa-twitter"></span> Twitter
                </a>
                <a href="https://www.linkedin.com/in/adam-dry/" class="d-block w-100 btn btn-lg btn-secondary mt-3">
                    <span class="fab fa-linkedin"></span> LinkedIn
                </a>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <h1 class="display-3 fw-lighter">Adam Dry</h1>
                <h2 class="display-6 fw-lighter text-muted">
                    Continuous Integration & Project Management
                </h2>
                <hr class="mb-4">
                <p class="lead mt-2">
                    With his roots in software development and a 15 year career in the delivery of client-focused
                    technology, Adam’s capabilities are built on his spread of knowledge; operating across multiple
                    industries delivering Finance Management, Project Delivery and Sales/Client Fulfilment
                    functionality. A key part of the successful delivery of these projects is the focus on scalability,
                    security, integration tools and techniques, and user delivery. Adam is R3 certified and an AWS
                    certified architect.
                </p>
                <p class="lead">
                    Adam was instrumental in building continuous integration pipelines for ONIXLab's open source
                    solutions, ensuring that all builds and tests are executed automatically, and packages can be
                    versioned and released effortlessly.
                </p>
            </div>
        </div>
    </div>
</section>