@page "/Consulting"

<PageTitle>ONIXLabs | Consulting</PageTitle>

<Section Centered="true">
    <Headline>Consulting</Headline>
    <Callout>Seamless integration with your team, tools, and tech stack</Callout>
    <Paragraph Class="mt-5" Lead="true">
        We help startups and enterprises build robust, scalable software, faster. Whether you're launching a product, scaling a system,
        or untangling legacy code, our engineering-first consulting cuts through the noise to deliver real solutions. From architecture
        to implementation, we partner with your team to ship software that works.
    </Paragraph>
    <Row>
        <Tile ColumnSize="3" Title="Strategy"
              ImageLightUrl="onixlabs/images/icons/glass/dice.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/dice-dark.svg">
            We help define your product roadmap, identify market fit, and architect scalable solutions aligned with your business goals.
        </Tile>

        <Tile ColumnSize="3" Title="Development"
              ImageLightUrl="onixlabs/images/icons/glass/code.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/code-dark.svg">
            We design and build robust, maintainable software using modern best practices, delivering clean, efficient code that scales with
            your team.
        </Tile>

        <Tile ColumnSize="3" Title="Testing"
              ImageLightUrl="onixlabs/images/icons/glass/vials.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/vials-dark.svg">
            We implement robust testing strategies across unit, integration, and end-to-end levels to ensure quality and confidence at every
            stage.
        </Tile>

        <Tile ColumnSize="3" Title="Integration"
              ImageLightUrl="onixlabs/images/icons/glass/git-merge.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/git-merge-dark.svg">
            We implement CI/CD workflows that automate testing, deployment, and release, accelerating feedback and ensuring smooth, reliable
            delivery.
        </Tile>

        <Tile ColumnSize="3" Title="Documentation"
              ImageLightUrl="onixlabs/images/icons/glass/scroll.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/scroll-dark.svg">
            We produce comprehensive, developer-friendly documentation, from code docs to full technical guides.
        </Tile>

        <Tile ColumnSize="3" Title="Delivery"
              ImageLightUrl="onixlabs/images/icons/glass/cloud-upload.svg"
              ImageDarkUrl="onixlabs/images/icons/glass/cloud-upload-dark.svg">
            We handle production-ready cloud deployments, service monitoring, and uptime strategies to keep your software running smoothly.
        </Tile>
    </Row>
</Section>

<Section Class="bg-secondary-subtle py-5 text-center">
    <Headline>Stay Connected</Headline>
    <Callout>We're here to help your business thrive</Callout>
    <div class="col-12 col-md-4 offset-md-4">
        <ThemeImage Class="img-fluid"
                    UrlDark="onixlabs/images/icons/glass/envelope-dark.svg"
                    UrlLight="onixlabs/images/icons/glass/envelope.svg"/>
    </div>
    <Paragraph Lead="true">
        Whether you have a question, need a custom solution, or just want to explore what’s possible, we're just a message away. Let's start
        the conversation and see how we can support your goals.
    </Paragraph>
    <ActionButtons>
        <ActionButton Class="btn-secondary" Icon="fa-solid fa-paper-plane" Text="Send a Message" 
                      Url="/Contact?reason=consulting"/>
        
        <ActionButton Class="btn-secondary" Icon="fa-solid fa-calendar" Text="Book a Meeting"
                      Url="https://calendly.com/matthew-layton/30min"/>
    </ActionButtons>
</Section>
