<section id="solution" class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 text-center">
                <img src="assets/images/kotlin/kotlin-core.svg" class="img-fluid">
            </div>
            <div class="col-12 col-md-8 col-lg-9 text-center text-md-start">
                <h1 class="display-3 fw-lighter mt-md-5"><span class="text-primary">Kotlin</span> Core Library</h1>
                <h2 class="display-6 fw-lighter text-muted">
                    An essential library of powerful, general-purpose APIs for every Kotlin developer's toolkit.
                </h2>
                <span class="badge bg-dark fw-light">Kotlin</span>&nbsp;
                <span class="badge bg-dark fw-light">Kotlin-Library</span>&nbsp;
                <hr class="mb-4">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 order-last order-md-first">
                <div class="d-flex flex-column justify-content-start align-items-stretch">
                    <a href="https://github.com/onix-labs/onixlabs-kotlin-core"
                        class="btn btn-lg btn-dark fw-light mt-2">
                        <span class="fab fa-lg fa-github pe-2"></span> Repository
                    </a>
                    <a href="https://github.com/orgs/onix-labs/packages?repo_name=onixlabs-kotlin-core"
                        class="btn btn-lg btn-secondary fw-light mt-2">
                        <span class="fas fa-lg fa-box-open pe-2"></span> Packages
                    </a>
                    <a href="https://github.com/onix-labs/onixlabs-kotlin-core/releases"
                        class="btn btn-lg btn-secondary fw-light mt-2">
                        <span class="fas fa-lg fa-code-branch pe-2"></span> Releases
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9 order-first order-md-last">
                <p class="lead">
                    Kotlin is becoming increasingly popular, especially with application developers on the Java stack
                    who want to 10x their productivity. This library lends a helping hand, providing several features to
                    enhance the Kotlin ecosystem. Many of the features in this library are designed to support our other
                    Kotlin offerings, but why keep that to ourselves?
                </p>
                <h3 class="display-5 mt-3 fw-lighter text-dropcaps">Features</h3>
                <hr>
                <h4 class="fw-light">Collections</h4>
                <p class="lead">
                    Provides several useful extension functions over standard Kotlin collections; for example being able
                    to perform ordered and unordered content checks over any collection that extends Iterable&lt;T&gt;.
                </p>
                <h4 class="fw-light">Reflection</h4>
                <p class="lead">
                    Adds several features to support Kotlin's reflection API; for example, being able to create types
                    instances from a KClass, and obtain constructor, property, and type information.
                </p>
                <h4 class="fw-light">Time</h4>
                <p class="lead">
                    Extends Java's Time API with additional types and extensions.
                </p>
                <h4 class="fw-light">Type Converters</h4>
                <p class="lead">
                    Provides a pattern for implementing convention based, type-safe object-object conversion. Several
                    type converters have already been implemented for many of Kotlin's standard types; for example,
                    BigDecimal, BigInteger, Boolean, Byte, Char, Double, Float, Int, Long, Short, String, Type and UUID.
                </p>
                <h4 class="fw-light">Extensions</h4>
                <p class="lead">
                    The ONIXLabs Kotlin Core Library is supported by a plethora of extensions which wrap common tasks
                    into easily callable functions, and massively extend the core API, allowing applications to become
                    more robust and succint through code reuse. Extensions exist to enable developers to work better
                    with Kotlin's standard types.
                </p>
            </div>
        </div>
    </div>
</section>