@page "/Tools/Hash-Generator"
@layout ToolsLayout

<PageTitle>ONIXLabs | Hash Generator</PageTitle>

<Card>
    <CardHeader Class="fw-semibold">Hash Generator</CardHeader>
    <CardBody>
        <Row>
            <div class="col">
                <div class="form-floating">
                    <textarea @bind="inputText.Value" @bind:event="oninput" class="form-control" id="inputText" rows="8"></textarea>
                    <label for="inputText">Input Text</label>
                </div>
            </div>
        </Row>
        <Row Class="mt-3">
            <div class="col">
                <div class="form-floating">
                    <InputSelect @bind-Value="algorithm.Value" class="form-select" id="algorithm">
                        <option value="0" selected>SHA-1 (160 bits)</option>
                        <option value="1">SHA-2 (256 bits)</option>
                        <option value="2">SHA-2 (384 bits)</option>
                        <option value="3">SHA-2 (512 bits)</option>
                        <option value="4">SHA-3 (224 bits)</option>
                        <option value="5">SHA-3 (256 bits)</option>
                        <option value="6">SHA-3 (384 bits)</option>
                        <option value="7">SHA-3 (512 bits)</option>
                        <option value="8">SHA-3 SHAKE (128 bits)</option>
                        <option value="9">SHA-3 SHAKE (256 bits)</option>
                    </InputSelect>
                    <label for="algorithm">Hash Algorithm</label>
                </div>
            </div>
            @if (algorithm.Value is 8 or 9)
            {
                <div class="col">
                    <div class="input-group">
                        <div class="form-floating">
                            <InputNumber @bind-Value="shakeLength.Value" class="form-control no-spinner" id="shakeLength"/>
                            <label for="shakeLength">Shake Length (in Bytes)</label>
                        </div>
                        <button @onclick="IncrementLength" class="btn btn-secondary" type="button" tabindex="-1">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                        <button @onclick="DecrementLength" class="btn btn-secondary" type="button" tabindex="-1">
                            <i class="fa-solid fa-minus"></i>
                        </button>
                    </div>
                </div>
            }
        </Row>
    </CardBody>
    <CardFooter Class="py-3">
        <Row>
            <div class="col">
                <div class="input-group">
                    <div class="form-floating">
                        <InputText @bind-Value="hashResult" class="form-control" id="hashResult" readonly/>
                        <label for="hashResult">Hash Result</label>
                    </div>
                    <button @onclick="CopyToClipboard" class="btn btn-secondary" type="button" tabindex="-1">
                        <Icon class="fa-regular fa-clipboard"/>
                    </button>
                </div>
            </div>
        </Row>
    </CardFooter>
</Card>
@* *@
@* @if (!string.IsNullOrEmpty(hashResult)) *@
@* { *@
@*     <Card class="mt-3"> *@
@*         <CardBody> *@
@*             <div class="input-group"> *@
@*                 <input class="form-control font-monospace" type="text" readonly value="@hashResult" /> *@
@*                 <button class="btn btn-secondary" type="button" @onclick="CopyHash"> *@
@*                     <i class="fa-regular fa-clipboard"></i> *@
@*                 </button> *@
@*             </div> *@
@*         </CardBody> *@
@*     </Card> *@
@* } *@
