<section id="corda" class="mt-5">
    <div class="container text-center">
        <h1 class="display-4 fw-lighter">Solutions for <span class="text-primary">Kotlin</span></h1>
        <p class="h2 text-muted text-center fw-lighter mt-4 lh-base">
            Expressive and fluent Kotlin APIs that empower enterprise application development and help to build
            smart, maintainable applications that are better connected.
        </p>
        <div class="row">
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-primary m-2 p-4 h-100">
                    <img src="assets/images/kotlin/kotlin-core.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Kotlin Core Library
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-primary fw-light w-100" routerLink="/solutions/kotlin-core">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-kotlin-core">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-primary m-2 p-4 h-100">
                    <img src="assets/images/kotlin/kotlin-validation.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Kotlin Validation Library
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-primary fw-light w-100" routerLink="/solutions/kotlin-validation">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-kotlin-validation">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <div class="card rounded-3 shadow border-0 border-5 border-top border-primary m-2 p-4 h-100">
                    <img src="assets/images/kotlin/kotlin-projection.svg" class="img-fluid">
                    <h3 class="mt-2 text-small-caps fw-lighter text-center h-100">
                        Kotlin Projection Library
                    </h3>
                    <div class="row mt-2">
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-primary fw-light w-100" routerLink="/solutions/kotlin-projection">
                                <span class="fas fa-lg fa-info-circle pe-2"></span> More
                            </a>
                        </div>
                        <div class="col-12 col-xl-6 mt-2">
                            <a class="btn btn-lg btn-dark fw-light w-100"
                                href="https://github.com/onix-labs/onixlabs-kotlin-projection">
                                <span class="fab fa-lg fa-github pe-2"></span> GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>