@page "/Documentation"
@layout DocumentationLayout

<PageTitle>ONIXLabs | Documentation</PageTitle>

<Section Class="pt-0" Centered="true">
    <Headline>Documentation</Headline>
    <Callout>Articles &bull; API Docs &bull; Blog Posts</Callout>
    <ThemeImage
        Class="img-fluid" Description="Documentation"
        UrlLight="onixlabs/images/heroes/documentation.svg"
        UrlDark="onixlabs/images/heroes/documentation-dark.svg"
    />
    <Paragraph Lead="true">
        Explore our official documentation. From technical articles and product blogs to in-depth API references, everything's written,
        organized, and maintained to give you clear, consistent answers, fast.
    </Paragraph>
</Section>