<section id="contributor" class="my-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 order-last order-md-first">
                <div class="card rounded-3 shadow border-secondary mx-2">
                    <img src="assets/images/team/ryan.png" class="img-fluid rounded-1">
                </div>
                <a href="https://github.com/RyanGled" class="d-block w-100 btn btn-lg btn-dark mt-4 me-4">
                    <span class="fab fa-github"></span> GitHub
                </a>
                <a href="https://twitter.com/RyanGled" class="d-block w-100 btn btn-lg btn-primary mt-3">
                    <span class="fab fa-twitter"></span> Twitter
                </a>
                <a href="https://www.linkedin.com/in/ryan-gledhill/"
                    class="d-block w-100 btn btn-lg btn-secondary mt-3">
                    <span class="fab fa-linkedin"></span> LinkedIn
                </a>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <h1 class="display-3 fw-lighter">Ryan Gledhill</h1>
                <h2 class="display-6 fw-lighter text-muted">
                    Strategic Advisor & Blockchain Expert
                </h2>
                <hr class="mb-4">
                <p class="lead mt-2">
                    Ryan is a certified Corda and Ethereum expert, well placed to build, develop and lead
                    high-performing development teams and is one of the most highly respected software design leaders
                    for enterprise delivery, especially in the Corda ecosystem. Ryan’s experience covers delivery at
                    scale with teams of 20 under his direction. As a result of his standing, and enterprise experience,
                    Ryan leads on technical forums such as Corda’s Token SDK and is directly engaged in the design and
                    creation of excellence in many enterprise systems.
                </p>
                <p class="lead">
                    Ryan has provided key strategic advice over all of ONIXLabs' open-source solutions, ensuring that
                    they are well positioned within the ecosystem and provide real benefit to CorDapp developers.
                </p>
            </div>
        </div>
    </div>
</section>